* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

#board {
    width: 400px;
    height: 600px;
    margin: 50px auto;
}

.board-row {
    display: flex;
    margin: 5px 0px;
    justify-content: space-evenly;
}

.board-column {
    cursor: pointer;
    background-color: rgb(29, 29, 29);
}